<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
</head>
<body>
    <div id="headerContent"></div>

    <div class="container">
        <h1>Desenvolvimento Web com Integração de API</h1>        
    </div>

    <div id="apresentacao-trabalho">
        <h3>Introdução:</h3>
        <p>No âmbito deste projeto, foi concebida e desenvolvida uma página web interativa, incorporando diversas funcionalidades e estilos para proporcionar uma experiência envolvente aos usuários. O projeto enfatiza a integração de uma API para acesso e manipulação de dados, promovendo a dinamicidade e a comunicação eficiente com um servidor remoto.</p>
        <h3>Área Administrativa:</h3>
        <p>A área administrativa foi implementada como uma aba dedicada, proporcionando um formulário de login com campos para inserção de e-mail e senha. A validação de usuário é realizada através de uma chamada a uma API, garantindo acesso seguro e restrito.</p>
        <h3>Contato:</h3>
        <p>A aba de contato disponibiliza um formulário amigável para os usuários enviarem mensagens diretamente para a plataforma. Os campos incluem nome, e-mail e mensagem, e a submissão do formulário aciona uma chamada à API para armazenar as mensagens recebidas.</p>
        <h3>Mensagens Recebidas:</h3>
        <p>A página "Mensagens Recebidas" exibe uma tabela dinâmica alimentada por dados provenientes da API. Essa funcionalidade permite aos usuários visualizarem as mensagens previamente enviadas através do formulário de contato.</p>
        <h3>API de Comunicação:</h3>
        <p>A API foi incorporada de maneira crucial para viabilizar diversas operações. A autenticação de usuário, o envio de mensagens através do formulário de contato e a recuperação de mensagens para exibição na tabela foram implementados através de chamadas assíncronas à API, garantindo uma comunicação eficiente com o servidor remoto.</p>
        <h3>Conclusão:</h3>
        <p>Este projeto não apenas demonstra a capacidade de criar uma página web interativa, mas também destaca a importância da integração de APIs para fornecer funcionalidades avançadas e dinâmicas. A harmonia entre design e funcionalidade cria uma experiência agradável para o usuário, cumprindo os requisitos do projeto de forma eficaz e eficiente.</p>
    </div>
    
    <script src="../js/jquery-3.6.4.min.js"></script>   
    <script src="../js/api.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
